div.contentContainer {
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

div.contentContainer p {
  line-height: 25px;
}

div.quads1 {
  width: 100%;
  padding: 15% 10% 25% 5%;  
}

div.quads2 {
  width: 100%;
  padding: 8% 5% 35% 5%; 
}

div.quads3 {
  width: 790px;
  height: 725px;
  padding: 50px 140px 70px 180px;
  background-size: 100% !important;
}

@media screen and (min-width: 768px) {
  div.quads1 {
    padding: 15% 25% 25% 25%;
  }
  div.quads2 {
    padding: 11% 40% 15% 25%; 
  }
}

@media screen and (min-width: 1024px) {
  div.quads1, div.quads2, div.quads3 {
    margin: auto;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  div.quads2 {
    background-position: 25% !important;
  }
}

@media screen and (min-width: 1440px) {
  
}