html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .left-decor,
  .right-decor {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .left-decor {
    position: absolute;
    margin-left: -80%;
  }
  .right-decor {
    position: fixed;
    right: -700px;
    top: -50%;
  }
}

@media screen and (min-width: 1025px) {
  .left-decor {
    position: absolute;
    margin-left: -20%;
  }
  .right-decor {
    position: fixed;
    right: -500px;
    top: -90%;
  }
}
