html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.7rem;
  font-size: 1.2rem;
}

input, textarea, select {
  padding: 2%;
  border: 2px solid;
  border-radius: 5px;
  background-color: #faedcd;
  width: 100%;
  font-size: 1.2rem;
  border-color: #747274;
  margin-top: 2%;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: #cf4d6f;
  background-color: white;
  box-shadow: 1px 1px 16px rgb(0 0 0 / 15%);
}

option {
  color: black;
}

label {
  margin-top: 5px;
  display: block;
}

* {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 90%;
  margin: auto;
}

.spacer-top {
  padding-top: 30%;
}

img.content-img-right {
  width: 100%;
  float: none;
}

.left-decor, .right-decor {
  position: fixed;
}

.left-decor {
  position: absolute;
  margin-left: -200%;
}

.right-decor {
  right: -230%;
  top: -50%;  
}  

.address-map-link {
  border-left: 3px solid #ccd5ae;
  padding: 2%;
  display: block;
  line-height: 1.5em;
  font-size: 1.1em;
}

.address-map-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 375px) {
  .left-decor {
    margin-left: -170%;
  }
  .right-decor {
    right: -190%;
  }
}

@media screen and (min-width: 425px) {
  .left-decor {
    margin-left: -150%;
  }
  .right-decor {
    right: -160%;
  }  
}

@media screen and (min-width: 768px) {
  .left-decor {
    margin-left: -80%;
  }
  .right-decor {
    right: -90%;
    top: 80%;
  }  
  .main-container {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .left-decor {
    margin-left: -50%;
    top: 70%;
  }
  .right-decor {
    right: -60%;
    top: 90%;
  }
  img.content-img-right {
    width: 60%;
    float: right;
  }
}

@media screen and (min-width: 1440px) {
  .left-decor {
    margin-left: -35%;
    top: 200px;
  }
  .right-decor {
    right: -40%;
    top: -250px;
  }
  img.content-img-right {
    width: 60%;
  }
}
