div.logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 35px;
  z-index: 20;
  height: 150px;
}

div.logo:hover {
  cursor: pointer;
}

@media screen and (max-width: 428px) {
  div.logo {
    height: 115px;
    top: -10px;
  }
}
