blockquote.quote {
  background-image: url('./quote.svg');
  font-size: 35px;
  font-family: Georgia;
  padding: 20px 30px;
  margin: 5% 0 0 -34px;
  background-repeat: no-repeat;
  background-size: 10%;
  font-style: italic;
}

@media screen and (max-width: 428px) {
  blockquote.quote {
    font-size: 25px;
    padding: 20px 20px 0;
    margin: 20px;
    margin-left: 10px;
  }
}
